@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary-color: #6D5960;
    --verde-100: #A3DC9A;
    --rosa-100: #FFBADD;
    --rosa-60: #FFD6EB;
    --amarelo-100: #FFF489;
    --neutro-100: #212121;
    --neutro-80: #404040;
    --neutro-60: #7E7E7E;
    --neutro-subcategoria: #414141;
    --alerta-vermelho: #D52525;
    --alerta-verde: #6C9F38;
    --alerta-verde-hover: #5A862C;
    --alerta-amarelo: #E4CB31;
    --alerta-amarelo-hover: #B8A42A;
    
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}


header{
    background-color: var(--primary-color);
    padding: 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list, .nav_icones{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

}


.nav-list a{
    font-family: 'Raleway';
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.nav-list {
    gap: 80px;
}

.nav_icones{
    gap: 15px;
}

.nav_icones img{
    width: 24px;
    height: 24px;
}

