:root{
    --primary-color: #6D5960;
    --verde-100: #A3DC9A;
    --rosa-100: #FFBADD;
    --amarelo-100: #FFF489;
    --neutro-100: #212121;
    --neutro-80: #404040;
    --neutro-60: #7E7E7E;
    --neutro-subcategoria: #414141;
    --alerta-vermelho: #D52525;
    --alerta-vermelho-hover: #B22020;
    --alerta-verde: #6C9F38;
    --alerta-verde-hover: #5A862C;
    --alerta-amarelo: #E4CB31;
    --alerta-amarelo-hover: #B8A42A;
    --amarelo-10: rgba(255, 253, 231, 1);    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.carrinho {
  display: flex;
  gap: 32px;
  padding: 40px;
  align-items: flex-start;
   max-width: 1200px;  
  margin: 40px auto;   
  padding: 0 20px;  
}

.botao-voltar{
  display: block;
    margin-top: 20px;
    margin-left: 100px;
    width: 24px;
    height: 24px;
}

/*listagem de produtos*/

.tabela-container {
  border: 1px solid #dedfe1; 
  border-radius: 12px;       
  overflow: hidden;         
  margin-top: 12px;
}


.tabela-carrinho {
  border-collapse: collapse;
}

.tabela-carrinho th {
  background-color: var(--primary-color);
  color: #fff;
  text-align: left;
  padding: 16px 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 300;
}


.produto-linha {
  border-bottom: 1px solid #dedfe1; 
}

.produto-linha td {
  padding: 16px 20px;
  vertical-align: middle;
}

.celula-produto {
  display: flex;
  align-items: center;
  gap: 12px;
}

.celula-produto img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

.nome-produto-carrinho {
  font-family: "Montserrat";
  font-size: 15px;
  color: var(--neutro-80);
}

.preco-unitario,
.total-produto {
  font-family: "Montserrat";
  font-size: 14px;
  color: #949494;
}

.quantidade {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #D7D7D7;
  border-radius: 50px;
  border-radius: 20px;
  padding: 4px 10px;
  width: fit-content;
  margin: 0 auto;
}

.botao-aumentar {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #414141;
}

.botao-diminuir {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #414141;
}


.botao-remover {
  background: none;
  border: none;
  padding: 0;
}

.botao-remover img {
  width: 14px;
  height: 14px;
}

.quantidade-valor {
  font-family: "Montserrat";
  min-width: 14px;
  text-align: center;
  font-size: 14px;
}

/*Resumo de Compras*/

.resumo-compra {
  border: 1px solid  #dedfe1;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 12px;
  width: 350px;
}

.cabecalho-resumo {
  background-color: var(--primary-color);
  padding: 16px 20px;
}

.titulo-resumo {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.linha-resumo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;
  border-bottom: 1px solid  #dedfe1;
  color:#3D3D3D ;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.valor-subtotal{
  color: #949494;
}

.valor-frete{
  color: #949494;
}

.valor-total{
  color: #949494;
}


.botao-continuar{
  width: 100%;
  padding: 14px;
  background-color: #FFD6EB;
  border: none;
  color:#6D5960 ;
  font-weight: 700;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

/*frete*/
.frete-card {
  background-color: #FFD6EB;
  border-radius: 16px;
  padding: 16px 20px; 
  width: 350px;
  margin-top: 12px;
  box-sizing: border-box; 
}

.titulo-frete {
  display: block;       
  margin-bottom: 12px;   
  color: var(--primary-color);
  font-size: 15px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.campos-frete {
  display: flex;
  gap: 10px; 
}

.campos-frete input{
  flex: 1;
  padding: 10px 14px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  background-color: #ffffff;
  width: 100%;           
  min-width: 0;           
  box-sizing: border-box;
}

.botao-consultar-frete {
  background-color: #A3DC9A; 
  color: #505050; 
  border: none;
  border-radius: 10px; 
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
}


/*modal erro*/

.celula-produto .icone-erro{
  display: block;
  margin-top: 28px;
  width: 24px;
  height: 24px;
  display: block;
  align-items: center;
  
}

.modal-abrir{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 400px;
  min-height: 211px;
  max-width: 90%;
  padding: 24px;
  background-color: #fff;
  font-family: "Montserrat";
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: var(--neutro-60);
  border: none;
  border-radius: 12px;
  flex-direction: column;
  text-align: center;
  gap: 16px;
  overflow: hidden;
  
  

}

.modal-abrir[open] {
  display: flex;
}

.modal-abrir h3{
  font-family: "Montserrat", regular;
  font-size: 18px;
  color: var(--neutro-100);
}

.botoes-modais{
  align-items: center;
  gap: 16px;
  display: flex;
}

.btn-tema-alerta{
  text-align: center;
  background-color: var(--alerta-amarelo);
  color: #fff;
  width: 174px;
  height: 42px;
  border-radius: 8px;
  justify-content: center;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-family: "Montserrat", regular;
}

.btn-modal-cancelar{
  text-align: center;
  border: 1px solid var(--alerta-amarelo);
  background-color: #fff;
  color: var(--alerta-amarelo);
  width: 174px;
  height: 42px;
  border-radius: 8px;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  font-family: "Montserrat", regular;
}

.btn-modal-cancelar:hover{
  background-color: var(--amarelo-10);
}

.btn-modal-fechar:hover{
  background-color: var(--alerta-amarelo-hover);
}

.modal-abrir dialog::backdrop{
  background-color: rgba(115, 24, 24, 0);
}

.icone-alerta{
  display: block;
  margin-top: 28px;
  width: 16px;
  height: 11px;
  display: block;
  align-items: center;
  
}
