@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #6D5960;
    --verde-100: #A3DC9A;
    --rosa-100: #FFBADD;
    --amarelo-100: #FFF489;
    --neutro-100: #212121;
    --neutro-80: #404040;
    --neutro-subcategoria: #414141;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.hero{
    width: 100%;
}