@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #6D5960;
    --verde-100: #A3DC9A;
    --rosa-100: #FFBADD;
    --amarelo-100: #FFF489;
    --neutro-100: #212121;
    --neutro-80: #404040;
    --neutro-subcategoria: #414141;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.cabecalho-pagina {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  gap: 12px;             
  margin-bottom: 24px; 
   
}

.botao-voltar img {
  width: 24px;            
  height: 24px;
  display: block;
  margin-top: 20px;
  margin-left: 100px;
}


.titulo-pagina {
  color: #3D3D3D;          
  font-size: 28px;
  font-weight: 700;        
  margin: 0; 
  padding: 0 200px;  
  font-family: "Raleway";          
}

/*endereço*/

.endereco-card {
  border: 1px solid #dedfe1;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 12px;
  margin-bottom: 24px;
  width: 100%; 
  max-width: 450px;
}

.cabecalho-pagamento {
  background-color: var(--primary-color);
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecalho-titulo{
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.link-adicionar-endereco{
  color: #FFF8B8;
  font-size: 13px;
  font-family: "Inter";
}

.item-endereco{
 display: flex;
  align-items: flex-start; 
  padding: 16px 20px;
  gap: 12px;
  border-bottom: 1px solid #dedfe1;
  cursor: pointer
}

.radio-pagamento {
  align-self: center; 
  margin: 0;
  cursor: pointer;
}

.informacao-endereco {
  flex: 1; 
}

.linha-nome {
  margin: 0 0 6px 0;
  font-size: 14px;
  color: #212121;
  font-family: "Montserrat";
}

.acoes-endereco {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link-alterar {
  color: var(--primary-color);
  font-size: 13px;
  font-family: "Inter";
}

.botao-excluir {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.botao-excluir img {
  width: 18px;
  height: 18px;
}

/*Forma de Pagamento*/
.pagamento-card {
  border: 1px solid #dedfe1;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 12px;
  margin-bottom: 24px;
  width: 100%; 
  max-width: 450px;
}


.conteudo-pagamento {
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subcabecalho-cartao {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo-pequeno {
  font-size: 14px;
  color: #212121;
  font-weight: 500;
  font-family: "Montserrat";
}

.link-adicionar-pagamento{
    color:var(--primary-color);
    font-size: 13px;
    font-family: "Montserrat";
}

.linha-multiplos-cartoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #DEDFE1; 
  font-family: "Montserrat";
  font-size: 14px;
}

.opcao-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  color: #505050;
}

.item-cartao {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: rgba(255, 253, 231, 1) ;
  border-radius: 8px;
  padding: 12px 16px;
  
}

.informacao-cartao {
  flex: 1;
}

.linha-nome {
  margin: 0 0 4px 0;
  font-size: 13px;
  color: #333333;
}

/*resumo*/


.resumo-card {
  border-radius: 12px;
  overflow: hidden;
  margin-top: 12px;
  margin-bottom: 24px;
  width:400px;
  flex-shrink: 0;
}

.cabecalho-resumo {
  background-color: #AEAEAE;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linha-resumo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
  font-size: 13px;
  font-weight: 400;
  color: #3D3D3D;
  font-family: "Montserrat";
  border-bottom: 2px dashed #d0d0d0;
}

.linha-total {
  border-bottom: none;
}

.subtotal-pagamento{
  color: #949494;
}

.frete-pagamento{
   color: #949494;
}

.valor-total {
  color: #949494;
  font-weight: 700;
}

.linha-cupom {
  border-bottom: none;  
}

.link-adicionar-cupom {
  background: transparent;
  border: none;
  color: var(--primary-color);
  font-size: 13px;
  font-family: "Montserrat";
  text-decoration: underline;
}


.container-cupom {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding:8px 20px 20px 20px;
  border-bottom: 2px dashed #d0d0d0;
}

.container-cupom.escondido {
  display: none;
}

.campo-cupom {
  padding: 10px 12px;
  border: 1px solid #DFDFDF;
  border-radius: 100px;
  background-color:#F8F8F8 ;
  font-size: 14px;
  font-family: "Montserrat";
  width: 100%;
  box-sizing: border-box;
  font-size: 13px;
  color:#CACACA ;
}


.botoes-cupom {
  display: flex;
  justify-content: space-between;
  padding: 14px;
}
.botao-cancelar-cupom {
  background: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 8px 42px;
  font-size: 13px;
  color: var(--primary-color);
  
}

#botao-aplicar {
  background-color:#fce0ed;
  border: none;
  border-radius: 8px;
  padding: 8px 40px;
  font-size: 13px;
  color: var(--primary-color);
}

.botao-finalizar {
  display: block;
  margin-left: auto;
  margin-top: 24px;
  padding: 12px 42px;
  background-color: #fce0ed;
  color: var(--primary-color);
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
}


.conteudo-checkout {
  display: flex;
  gap: 32px;
  align-items: flex-start;
  max-width: 950px; 
  margin: 0 auto;
}

.coluna-esquerda {
  flex: 1;
  min-width: 0; 
}