<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ponto Certo</title>
    <link rel="stylesheet" href= "../../../public/css/navbar/navbar.css">
    <link rel="stylesheet" href="/public/css/alterar_senha.css">
</head>
<body>
    <header>
    <nav class= "navbar">

      <a class="logo" href="index.html">
          <img src="/public/images/logo_ponto.svg" alt="Logo Ponto Certo">
        </a>


      <ul class="nav-list">
        <li><a href="/src/views/index.html"> Página Inicial </a></li>
        <li><a href="historico.html"> Meus Pedidos</a></li>
      </ul>

      <ul class= "nav_icones">
        <li><a href="carrinho.html"> <img src="/public/images/shopping-cart.svg" alt="carrinho"></a></li>
        <li><a href="configuracoes.html"> <img src="/public/images/settings.svg" alt="configuracao"></a></li>
       
      </ul>
      
    </nav>
  </header>

  <div class="main">
    <h3 class="titulo">Alterar Dados</h3>
        <form id="formulario-cadastro-cliente">

        <div class="info-cartao">
            
          <div class="campos">
            <div class="campo">
              <label for="nome" class="nome-campos">Nome Completo</label>
              <input class="placeholder" id="nome" placeholder="Insira o nome completo" required>
              <span class="erro-msg" id="erro-nome"></span>
            </div>

            <div class="campo">
              <label for="data-nascimento" class="nome-campos">Data de nascimento</label>
              <input class="placeholder" type="date" id="data-nascimento" required>
              <span class="erro-msg" id="erro-data-nascimento"></span>
            </div>

            <div class="campo">
              <label for="genero" class="nome-campos">Gênero</label>
              <select class="placeholder select-status" id="genero" required>
                <option value="" disabled selected hidden>Escolha o seu gênero</option>
                <option value="H">Homem</option>
                <option value="M">Mulher</option>
                <option value="N">Prefiro não informar</option>
                <option value="O">Outros</option>
              </select>
              <span class="erro-msg" id="erro-genero"></span>
            </div>

            <div class="campo">
              <label for="telefone" class="nome-campos">Telefone</label>
              <input class="placeholder" placeholder="(00) 00000-0000" id="telefone" inputmode="tel" pattern="[0-9]{14,15}" required>
              <span class="erro-msg" id="erro-telefone"></span>
            </div>
          </div>
        </div>

        <div class="botoes">
          <button class="voltar botao-voltar" type="button">Voltar</button>
          <button class="cadastrar" type="button" data-modal="modal-abrir">Alterar</button>
          <dialog id="modal-abrir" class="modal-abrir">
              <img class="icone-sucesso" src="../../../public/images/sucesso-modal.svg" alt="sucesso-modal">
              <h3>Sucesso</h3>
              <span>Dados alterados com sucesso!</span>
              <a class="btn-modal-fechar btn-tema-sucesso" href="configuracoes.html" data-modal="modal-abrir">Voltar</a>
          </dialog>
        </div>

      </form>
        
    </div>
  </div>
  <div id="toast" class="toast"></div>

  <script src="../../public/js/botao_voltar.js"></script>
  <script src="../../public/js/alterar_dados.js"></script>
</body>
</html>