<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ponto Certo - Cadastrar Cliente</title>
  <link rel="stylesheet" href="../../public/css/cadastro_cliente.css">
</head>

<body>

  <div class="barra-topo">
    <button class="botao-voltar" type="button">
      <img src="../../public/images/voltar.svg" alt="Voltar">
    </button>
    <img class="logo" src="../../public/images/pontinho_cadastro.svg" alt="Logo Ponto Certo">
  </div>

  <main class="conteudo">
    <div class="pagina-form">

      <h3 class="titulo">Cadastro</h3>

      <form id="formulario-cadastro-cliente" class="formulario">

        <div class="info">
          <span class="titulo-dados">Dados Pessoais</span>

          <div class="campos">
            <div class="campo campo-largo">
              <label for="nome" class="nome-campos">Nome Completo</label>
              <input class="placeholder" id="nome" name="nome" placeholder="Insira o nome completo" required>
              <span class="erro-msg" id="erro-nome"></span>
            </div>

            <div class="campo">
              <label for="data-nascimento" class="nome-campos">Data de nascimento</label>
              <input class="placeholder" type="date" id="data-nascimento" name="dataNascimento">
              <span class="erro-msg" id="erro-data-nascimento"></span>
            </div>

            <div class="campo">
              <label for="cpf" class="nome-campos">CPF</label>
              <input class="placeholder" name="cpf" id="cpf" placeholder="000.000.000-00"  required>
              <span class="erro-msg" id="erro-cpf"></span>
            </div>

            <div class="campo">
              <label for="genero" class="nome-campos">Gênero</label>
              <select class="placeholder" name="genero" id="genero" required>
                <option value="" disabled selected hidden>Escolha o seu gênero</option>
                <option value="H">Homem</option>
                <option value="M">Mulher</option>
                <option value="N">Prefiro não informar</option>
                <option value="O">Outros</option>
              </select>
              <span class="erro-msg" id="erro-genero"></span>
            </div>

            <div class="campo">
              <label for="telefone" class="nome-campos">Telefone</label>
              <input class="placeholder" placeholder="(00) 00000-0000"  name="telefone" id="telefone" inputmode="numeric"
                pattern="[0-9]{10,11}" maxlength="11" required>
              <span class="erro-msg" id="erro-telefone"></span>
            </div>
          </div>
        </div>

        <div class="info">
          <span class="titulo-dados">Dados de acesso</span>

          <div class="campos">
            <div class="campo campo-largo">
              <label for="email" class="nome-campos">E-mail</label>
              <input class="placeholder" type="email" name="email" id="email" placeholder="Insira seu E-mail" required>
              <span class="erro-msg" id="erro-email"></span>
            </div>

            <div class="campo">
              <label for="senha" class="nome-campos">Senha</label>
              <input class="placeholder" type="password" name="senha" id="senha" placeholder="Insira a senha" required>
              <span class="erro-msg" id="erro-senha"></span>
            </div>

            <div class="campo">
              <label for="confirmar-senha" class="nome-campos">Confirmar Senha</label>
              <input class="placeholder" type="password" name="confirmarSenha" id="confirmar-senha" placeholder="Insira a senha" required>
              <span class="erro-msg"  id="erro-confirmar-senha"></span>
            </div>
          </div>
        </div>

        <div class="info" id="secao-endereco">
          <div class="titulo-secao">
            <span class="titulo-dados">Endereço</span>
            <button type="button" class="botao-mais" id="btn-add-endereco" aria-label="Adicionar outro endereço"><img
                src="../../public/images/adicionar.svg" alt=""></button>
          </div>

          <div class="blocos-endereco">
            <div class="bloco-endereco">
              <div class="campos">
                <div class="campo">
                  <label for="tipo_residencia" class="nome-campos">Tipo de residência</label>
                  <input class="placeholder" type="text" name="tipoResidencia" id="tipo_residencia" placeholder="Ex. Apartamento" required>
                  <span class="erro-msg" id="erro-tipo_residencia"></span>
                </div>

                <div class="campo">
                  <label for="cep" class="nome-campos">CEP</label>
                  <input class="placeholder" type="text" name="cep" id="cep" placeholder="00000-000" required>
                  <span class="erro-msg" id="erro-cep"></span>
                </div>

                <div class="campo">
                  <label for="tipo_logradouro" class="nome-campos">Tipo de logradouro</label>
                  <input class="placeholder" type="text" name="tipoLogradouro" id="tipo_logradouro" placeholder="Insira o tipo logradouro"
                    required>
                </div>

                <div class="campo">
                  <label for="cidade" class="nome-campos">Cidade</label>
                  <input id="cidade"  class="placeholder" type="text" name="cidade" id="cidade" placeholder="Insira a cidade" required>
                </div>

                <div class="campo-pequeno">
                  <label class="nome-campos">País</label>
                  <input id="pais" class="placeholder" placeholder="Insira o país" name="pais" id="pais" inputmode="text" required>
                  <span class="erro-msg" id="erro-pais"></span>
                </div>

                <div class="campo-pequeno">
                  <label class="nome-campos">Estado</label>
                  <input id="estado" class="placeholder" placeholder="Insira o estado" name="estado" id="estado" inputmode="text" required>
                  <span class="erro-msg" id="erro-estado"></span>
                </div>

                <div class="campo">
                  <label class="nome-campos">Bairro</label>
                  <input id="bairro" class="placeholder" placeholder="Insira o bairro" name="bairro" id="bairro" inputmode="text" required>
                  <span class="erro-msg" id="erro-bairro"></span>
                </div>
                <div class="campo">
                  <label class="nome-campos">Logradouro</label>
                  <input id="logradouro" class="placeholder" placeholder="Insira o logradouro" name="logradouro" id="logradouro" inputmode="text"
                    required>
                  <span class="erro-msg" id="erro-logradouro"></span>
                </div>
                <div class="campo">
                  <label class="nome-campos">Nome do endereço</label>
                  <input class="placeholder" placeholder="Insira uma frase curta para identificação do endereço"
                    id="nome-endereco" name="nomeEndereco" inputmode="text" required>
                  <span class="erro-msg" id="erro-nome-endereco"></span>
                </div>
                <div class="campo-pequeno">
                  <label class="nome-campos">Número</label>
                  <input class="placeholder" placeholder="Insira o número" name="numero" id="numero" inputmode="text" required>
                  <span class="erro-msg" id="erro-numero"></span>
                </div>
                <div class="campo-pequeno">
                  <label class="nome-campos">Complemento</label>
                  <input class="placeholder" placeholder="Insira o complemento" name="complemento" id="complemento" inputmode="text">
                </div>
                <div class="campo">
                  <label class="nome-campos">Tipo de Endereço</label>
                  <select class="placeholder" name="tipoEndereco" id="tipo-endereco">
                    <option value="" disabled selected hidden>Escolha o tipo do endereço</option>
                    <option value="C">Cobrança</option>
                    <option value="E">Entrega</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

        </div>



        <div class="info" id="secao-cartao">
          <div class="titulo-secao">
            <span class="titulo-dados">Cartão de Crédito</span>
            <button type="button" class="botao-mais" id="btn-add-cartao" aria-label="Adicionar outro cartão"><img
                src="../../public/images/adicionar.svg" alt=""></button>
          </div>

          <div class="blocos-cartao">
            <div class="bloco-cartao">
              <div class="campos">
                <div class="campo">
                  <label class="nome-campos">Número do cartão</label>
                  <input class="placeholder" name="numeroCartao" id="numero-cartao" inputmode="numeric" pattern="[0-9]{13,19}"
                    maxlength="19" placeholder="Insira o número" required>
                  <span class="erro-msg" id="erro-numero-cartao"></span>
                </div>
                <div class="campo">
                  <label class="nome-campos">Bandeira do cartão</label>
                  <select class="placeholder" name="bandeiraCartao" id="bandeira" required>
                    <option value="" disabled selected hidden>Escolha a bandeira</option>
                  </select>
                  <span class="erro-msg" id="erro-bandeira"></span>
                </div>

                <div class="campo">
                  <label class="nome-campos">Nome impresso no cartão</label>
                  <input class="placeholder" placeholder="Insira o nome" name="nomeCartao" id="nome-cartao" pattern="[A-Za-zÀ-ÿ\s]+"
                    required>
                  <span class="erro-msg" id="erro-nome-cartao"></span>
                </div>

                <div class="campo">
                  <label class="nome-campos">Código de Segurança</label>
                  <input class="placeholder" placeholder="Insira o CVV" name="cvv" id="cvv" inputmode="numeric"
                    pattern="[0-9]{3,4}" maxlength="4" required>
                  <span class="erro-msg" id="erro-cvv"></span>
                </div>

                <div class="radio-container">
                  <label class="nome-campos" for="preferencial">Definir como preferencial</label>
                  <input type="radio"  name="preferencial" id="preferencial" class="radio">
                </div>

              </div>
            </div>
          </div>

        </div>

        <div class="botoes">
          <button class="voltar botao-voltar" type="button">Voltar</button>
          <button class="cadastrar" type="submit">Cadastrar</button>
          <dialog id="modal-abrir" class="modal-abrir">
            <img class="icone-sucesso" src="../../public/images/sucesso-modal.svg" alt="sucesso-modal">
            <h3>Sucesso</h3>
            <span>Cliente cadastrado com sucesso!</span>
            <a href="../../src/views/login.html" class="btn-modal-fechar btn-tema-sucesso botao-voltar"
              data-modal="modal-abrir">Voltar</a>
          </dialog>
        </div>

      </form>

    </div>
  </main>

  <div id="toast" class="toast"></div>

  <script src="../../public/js/modal.js"></script>
  <script src="../../public/js/botao_voltar.js"></script>
  <script src="../../public/js/cep.js"></script>
  <script src="/public/js/adicionarMaisEnderecos.js"></script>
  <script src="../../public/js/cadastro_cliente.js"></script>
  <script src="/public/js/adicionarMaisCartoes.js"></script>

</body>

</html>