<!DOCTYPE html>
<html lang="pt-BR">
    <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ponto Certo</title>
  <link rel="stylesheet" href= "/public/css/navbar/navbar.css">
  <link rel="stylesheet" href= "/public/css/configuracoes.css">
    </head>

 <body>
     <header>
        <nav class= "navbar">

        <a class="logo" href="index.html">
            <img src="/public/images/logo_ponto.svg" alt="Logo Ponto Certo">
            </a>


        <ul class="nav-list">
            <li><a href="/src/views/index.html"> Página Inicial </a></li>
            <li><a href="historico.html"> Meus Pedidos</a></li>
        </ul>

        <ul class= "nav_icones">
            <li><a href="carrinho.html"> <img src="/public/images/shopping-cart.svg" alt="carrinho"></a></li>
            <li><a href="configuracoes.html"> <img src="/public/images/settings.svg" alt="configuracao"></a></li>
        
        </ul>
        
        </nav>
    </header>

    <div class="cabecalho-pagina">
        <a class="botao-voltar" id="botao-voltar" ><img class="img-voltar" src="/public/images/voltar.svg" alt="voltar"></a>
    </div>

    <main class="configuracao">
        <div class="pagina-conteudo">

            <div class="cabecalho-configuracoes">
                <h1 class="titulo-pagina">CONFIGURAÇÕES</h1>
                <a href="alterar_senha.html" class="botao-alterar-senha">Alterar Senha</a>
            </div>

            <div class="conteudo-configuracoes">

                <div class="coluna-perfil">

                    <div class="perfil-card">
                         <div class="cabecalho-perfil">
                            <span class="titulo-perfil">Dados de Perfil</span> 
                            <a href="alterar_dados.html"><img src="/public/images/editar-branco.svg"></a>
                         </div>
    
                        <div class="lista-perfil">
                            <div class="campo-perfil">
                                <span class="legenda-campo">Nome Completo</span>
                                <span class="dados-campos">Vitoria Cunha Lima</span>
                            </div>

                            <div class="campo-perfil">
                                <span class="legenda-campo">Gênero</span>
                                <span class="dados-campos">Feminino</span>
                            </div>

                            <div class="campo-perfil">
                                <span class="legenda-campo">Telefone</span>
                                <span class="dados-campos">(19) 6715-3204</span>
                            </div>

                            <div class="campo-perfil">
                                <span class="legenda-campo">CPF</span>
                                <span class="dados-campos">130.520.390-91</span>
                            </div>
                        </div>
                    </div>

                    <span class="titulo-configuracoes">Cupons</span>

                    <div class="lista-cupons">
                        <div class="item-cupom">
                            <div class="info-cupom">
                                <p class="linha-cupom">Cupom</p>
                                 <p class="linha-cupom">Valor</p>
                            </div>
                            <div class="valores-cupom">
                                <p class="cupom-valor">123456789111</p>
                                <p class="cupom-valor">R$ 15,00</p>
                            </div>
                        </div>
                    </div>

                    <div class="lista-cupons">
                        <div class="item-cupom">
                            <div class="info-cupom">
                                <p class="linha-cupom">Cupom</p>
                                 <p class="linha-cupom">Valor</p>
                            </div>
                            <div class="valores-cupom">
                                <p class="cupom-valor">123456789111</p>
                                <p class="cupom-valor">R$ 15,00</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="coluna-endereco">

                   <div class="endereco-card">
                        <span class="titulo-configuracoes">Endereço de Cobrança</span>
                        <a href="pagamento/cadastro_endereco.html">Adicionar endereço de cobrança</a>

                        <div class="conteudo-endereco">
                            <div class="linha-topo-endereco">
                                <p class="linha-cep">CEP</p>
                                <a href="pagamento/alterar_endereco.html" class="link-alterar">Alterar endereço</a>
                            </div>
                            <div class="informacao-endereco">
                            <p class="linha-nome">Rua João Augustinho 768, Ap. 35; Bl. A Jardim Lima, Bela Vista, SP, 08888-888, Brasil</p>
                            </div>
                            <div class="acoes-endereco">
                                <button type="button" class="botao-excluir" data-modal="modal-abrir-1">
                                    <img src="../../../public/images/lixeira.svg" alt="Excluir" />
                                </button>
                                <dialog id="modal-abrir-1" class="modal-abrir">
                                    <img class="icone-alerta" src="../../../public/images/modal-alerta.svg" alt="alerta-modal">
                                    <h3>Remover endereço?</h3>
                                    <span>Você realmente deseja remover o endereço?</span>
                                    <div class="botoes-modais">
                                        <button class="btn-modal-cancelar" data-modal="modal-abrir-1">Cancelar</button>
                                        <button class="btn-modal-fechar btn-tema-alerta" data-modal="modal-abrir-1">Remover</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </div>

                    <div class="endereco-card">
                        <span class="titulo-configuracoes">Endereço de Entrega</span>
                        <a href="pagamento/cadastro_endereco.html">Adicionar endereço de entrega</a>

                        <div class="conteudo-endereco">
                            <div class="linha-topo-endereco">
                                <p class="linha-cep">CEP</p>
                                <a href="pagamento/alterar_endereco.html" class="link-alterar">Alterar endereço</a>
                            </div>
                            <div class="informacao-endereco">
                            <p class="linha-nome">Rua João Augustinho 768, Ap. 35; Bl. A Jardim Lima, Bela Vista, SP, 08888-888, Brasil</p>
                            </div>
                            <div class="acoes-endereco">
                             <button type="button" class="botao-excluir">
                            <img src="../../../public/images/lixeira.svg" alt="Excluir" />
                        </button>
                            </div>
                        </div>
                    </div>
                
                </div>

                <div class="coluna-cartoes">
                  <span class="titulo-configuracoes">Cartões</span>
                  <a href="pagamento/cadastrar_cartao.html">Adicionar cartão</a>
                  
                  <div class="lista-cartoes">
                    <div class="cartoes-card">
                        <div class="informacao-cartao">
                            <div class="topo-cartao">
                                <p class="linha-cartao">[Bandeira do cartão]</p>
                                <span class="cartao-principal">Cartão Principal</span>
                            </div>
                            <p class="linha-nome">[Nome impresso no cartão]</p>
                            <p class="linha-nome">5134 **** **** ****</p>
                        </div>
                        <button type="button" class="botao-excluir">
                        <img src="../../../public/images/lixeira.svg" alt="Excluir" />
                        </button>
                    </div>
                  </div>

                   <div class="lista-cartoes">
                    <div class="cartoes-card">
                        <div class="informacao-cartao">
                            <div class="topo-cartao">
                                <p class="linha-cartao">[Bandeira do cartão]</p>
                            </div>
                            <p class="linha-nome">[Nome impresso no cartão]</p>
                            <p class="linha-nome">5134 **** **** ****</p>
                        </div>
                        <button type="button" class="botao-excluir">
                        <img src="../../../public/images/lixeira.svg" alt="Excluir" />
                        </button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </main>
    <script src="../../../public/js/botao_voltar.js"></script>
    <script src="/public/js/modal.js"></script>
 </body>
</html>