<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ponto Certo</title>
    <link rel="stylesheet" href= "../../../public/css/navbar/navbar.css">
    <link rel="stylesheet" href="../../../public/css/cadastrar_cartao.css">
</head>
<body>
    <header>
    <nav class= "navbar">

      <a class="logo" href="index.html">
          <img src="/public/images/logo_ponto.svg" alt="Logo Ponto Certo">
        </a>


      <ul class="nav-list">
        <li><a href="/src/views/index.html"> Página Inicial </a></li>
        <li><a href="#"> Meus Pedidos</a></li>
      </ul>

      <ul class= "nav_icones">
        <li><a href="carrinho.html"> <img src="/public/images/shopping-cart.svg" alt="carrinho"></a></li>
        <li><a href="#"> <img src="/public/images/settings.svg" alt="configuracao"></a></li>
       
      </ul>
      
    </nav>
  </header>

  <div class="voltar-icone">
    <a href="#" class="btn-voltar"><img class="img-voltar" src="/public/images/voltar.svg" alt="voltar"></a>
  </div>
  
  <div class="main">
    <h3 class="titulo">Editar</h3>
    <div class="info-cartao">
        <span class="titulo-dbancarios">Dados Pessoais</span>
        <form>
            <div class="campos">
                <div class="campo">
                    <label class="nome-campos">Nome completo</label>
                    <input class="placeholder" id="nome" placeholder="Insira o nome completo" required></input>
                    <span class="erro-msg" id="erro-nome"></span>
                </div>

                <div class="campo">
                    <label class="nome-campos">Gênero</label>
                    <select class="placeholder" id="bandeira" required>
                        <option value="" disabled selected hidden>Escolha o seu gênero</option>
                        <option value="homem">Homem</option>
                        <option value="mulher">Mulher</option>
                        <option value="ninformar">Prefiro não informar</option>
                        <option value="outros">Outros</option>
                    </select>
                    <span class="erro-genero" id="erro-genero"></span>
                </div>

                <div class="campo">
                    <label class="nome-campos">CPF</label>
                    <input class="placeholder" placeholder="Insira o CPF" id="cpf" required></input>
                    <span class="erro-msg" id="erro-cpf"></span>
                </div>

                <div class="campo">
                    <label class="nome-campos">Telefone</label>
                    <input class="placeholder" placeholder="(00) 00000-0000" id="telefone" inputmode="numeric" pattern="[0-9]" maxlength="11" required></input>
                    <span class="erro-msg" id="erro-telefone"></span>
                </div>

        
            </div>
        </form>
        
    </div>
    
    
    <div class="botoes">
        <button class="voltar" type="reset">Voltar</button>
        <button class="cadastrar" type="submit">Cadastrar</button>
    </div>
  </div>

  <script src="../../../public/js/cadastrar_cartao.js"></script>
  
</body>
</html>