<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ponto Certo</title>
  <link rel="stylesheet" href= "/public/css/navbar/navbar.css">
  <link rel="stylesheet" href= "/public/css/historico.css">
  
</head>

<body>
  <header>
    <nav class= "navbar">

      <a class="logo" href="index.html">
          <img src="/public/images/logo_ponto.svg" alt="Logo Ponto Certo">
        </a>


      <ul class="nav-list">
        <li><a href="/index.html"> Página Inicial </a></li>
        <li><a href="/historico.html"> Meus Pedidos</a></li>
      </ul>

      <ul class= "nav_icones">
        <li><a href="/carrinho.html"> <img src="/public/images/shopping-cart.svg" alt="carrinho"></a></li>
        <li><a href="/configuracoes.html"> <img src="/public/images/settings.svg" alt="configuracao"></a></li>
       
      </ul>
      
    </nav>
  </header>

<main>
    <div class="pagina-conteudo">
      <h1 class="titulo-pagina">HISTÓRICO DE PEDIDOS </h1>

      <div class="busca-historico">
        <input type="search" placeholder="Pesquise pelo Produto" class="campo-busca" id="campo-busca">
        <button type="button" class="botao-busca" id="botao-busca">
          <img src="/public/images/historico-pesquisar.svg" alt="Buscar">
        </button>
      </div>

      <div id="lista-pedidos"></div>
      <dialog id="modal-acao">
        <h2 id="modal-acao-titulo"></h2>
        <p id="modal-acao-texto"></p>
        <div class="modal-botoes">
          <button type="button" class="btn-modal-cancelar" data-modal="modal-acao">Voltar</button>
          <button type="button" id="modal-acao-confirmar"></button>
        </div>
      </dialog>
    </div>
</main>
<div id="toast" class="toast"></div>
<script src="/public/js/modal.js"></script>
<script src="/public/js/historico.js"></script>
</body>
</html>