<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ponto Certo</title>
  <link rel="stylesheet" href="../../public/css/navbar/navbar.css">
  <link rel="stylesheet" href="../../public/css/carrinho.css">
</head>

<body>
  <header>
    <nav class= "navbar">

      <a class="logo" href="index.html">
          <img src="/public/images/logo_ponto.svg" alt="Logo Ponto Certo">
        </a>


      <ul class="nav-list">
        <li><a href="#"> Página Inicial </a></li>
        <li><a href="#"> Meus Pedidos</a></li>
      </ul>

      <ul class= "nav_icones">
        <li><a href="#"> <img src="/public/images/shopping-cart.svg" alt="carrinho"></a></li>
        <li><a href="#"><img src="/public/images/favoritos.svg" alt="favoritos"></a></li>
        <li><a href="#"> <img src="/public/images/settings.svg" alt="configuracao"></a></li>
       
      </ul>

      
    </nav>
  </header>

  <main>
 
</main>
</body>
</html>
