
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*Cabeçalho*/

.titulo{
    color: #6D5960;
    font-size: 30px;
    font-weight: 700;
    font-family: "Raleway";
    margin: 0 0 20px 0;
}

.botao-voltar {
    border-bottom: 20px;
    background-color: transparent;
    border: none;
}

.botao-voltar img{
    height: 20px;
    width: 20px;
}

/*titulos campos*/

.titulo-dados{
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: bold;
    
}


.campos{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 24px;
   
}

.campo{
    display: flex;
    flex-direction: column;
    gap: 8px;
    grid-column: span 2;
   
}

.campo-largo {
  grid-column: span 4;
}



.nome-campos{
    font-family: "Montserrat";
    font-size: 13px;
    color: #353535;
    font-weight: 700px;
}

/*input*/

.placeholder {
    border-radius: 100px;
    background-color: #F8F8F8;
    border: 1px solid #DFDFDF;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    outline: none;
    font-family: "Montserrat";
    font-size: 13px;
    box-sizing: border-box;
    appearance: none;
  
}

select.placeholder {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('../../../public/images/setinha.svg');
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 14px;
  padding-right: 44px; 
}


.placeholder::placeholder {
    color: #5C5C5C;
}

/*cadastro endereço e cartão*/

.info-cartao{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 30px;
}

.botao-adicionar{
    text-decoration: none;
    margin-top: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 24px;
    background-color: #FFF1F8 ;
    color: #6D5960;
    font-size: 13px;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    font-family: "Montserrat";
    width: 250px;
}

/*botões de ação*/

.botoes{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.voltar{
    background-color: #fff;
    border: 1px solid #6D5960 ;
    border-radius: 4px;
    width: 300px;
    height: 40px;
    color:#6D5960 ;
    font-family: "Montserrat";
}

.cadastrar{
    border: none;
    background-color:#FFC8E4;
    border-radius: 4px;
    width: 300px;
    height: 40px;
    color:#6D5960 ;
    font-family: "Montserrat";
}


