<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ponto Certo - Cadastrar Cliente</title>
  <link rel="stylesheet" href="../../../public/css/admin/navbar_master.css">
  <link rel="stylesheet" href="../../../public/css/admin/conteudo_master.css">
  <link rel="stylesheet" href="../../../public/css/admin/cadastro_master.css">
  </head>

 <body>
  <div class="layout-master">

    <aside class="sidebar-master">
      <div class="topo-navbar">
        <img src="../../../public/images/logo_ponto.svg" alt="logo" class="logo-sidebar">
        <img src="../../../public/images/linha_navbar.svg" alt="" class="linha-divisoria">
      </div>
      <nav class="menu">
        <ul>
          <li><a href="dashboard.html" class="link-sidebar">Dashboard</a></li>
          <li><a href="produtos.html" class="link-sidebar">Produtos</a></li>
          <li><a href="clientes.html" class="link-sidebar">Clientes</a></li>
          <li><a href="pedidos.html" class="link-sidebar">Pedidos</a></li>
          <li><a href="cupons.html" class="link-sidebar">Cupom</a></li>
          <li><a href="trocas.html" class="link-sidebar">Trocas</a></li>
        </ul>
      </nav>
    </aside>

    <main class="conteudo-master">

      <div class="cabecalho">
        <h3 class="titulo">CADASTRAR CLIENTES</h3>
      </div>

      <form id="formulario-cadastro-cliente">

        <div class="info-cartao">
          <span class="titulo-dados">Dados Pessoais</span>

          <div class="campos">
            <div class="campo campo-largo">
              <label for="nome" class="nome-campos">Nome Completo</label>
              <input class="placeholder" id="nome" placeholder="Insira o nome completo" required>
              <span class="erro-msg" id="erro-nome"></span>
            </div>

            <div class="campo">
              <label for="data-nascimento" class="nome-campos">Data de nascimento</label>
              <input class="placeholder" type="date" id="data-nascimento" required>
              <span class="erro-msg" id="erro-data-nascimento"></span>
            </div>

             <div class="campo">
              <label for="cpf" class="nome-campos">CPF</label>
              <input class="placeholder" id="cpf" placeholder="000.000.000-00" required>
              <span class="erro-msg" id="erro-cpf"></span>
            </div>

            <div class="campo">
              <label for="genero" class="nome-campos">Gênero</label>
              <select class="placeholder" id="genero" required>
                <option value="" disabled selected hidden>Escolha o seu gênero</option>
                <option value="homem">Homem</option>
                <option value="mulher">Mulher</option>
                <option value="ninformar">Prefiro não informar</option>
                <option value="outros">Outros</option>
              </select>
              <span class="erro-msg" id="erro-genero"></span>
            </div>

            <div class="campo">
              <label for="telefone" class="nome-campos">Telefone</label>
              <input class="placeholder" placeholder="(00) 00000-0000" id="telefone" inputmode="numeric" pattern="[0-9]{10,11}" maxlength="11" required>
              <span class="erro-msg" id="erro-telefone"></span>
            </div>
          </div>
        </div>

        <div class="info-cartao">
          <span class="titulo-dados">Dados de acesso</span>

          <div class="campos">
            <div class="campo campo-largo">
              <label for="email" class="nome-campos">E-mail</label>
              <input class="placeholder" type="email" id="email" placeholder="Insira seu E-mail" required>
              <span class="erro-msg" id="erro-email"></span>
            </div>

            <div class="campo">
              <label for="senha" class="nome-campos">Senha</label>
              <input class="placeholder" type="password" id="senha" placeholder="Insira a senha" required>
              <span class="erro-msg" id="erro-senha"></span>
            </div>

            <div class="campo">
              <label for="confirmar-senha" class="nome-campos">Confirmar Senha</label>
              <input class="placeholder" type="password" id="confirmar-senha" placeholder="Insira a senha" required>
              <span class="erro-msg" id="erro-confirmar-senha"></span>
            </div>
          </div>
        </div>

        <div class="botoes">
          <button class="voltar botao-voltar" type="button">Voltar</button>
          <button class="cadastrar" type="button">Cadastrar</button>
          <dialog id="modal-abrir" class="modal-abrir">
              <img class="icone-sucesso" src="../../../public/images/sucesso-modal.svg" alt="sucesso-modal">
              <h3>Sucesso</h3>
              <span>Cliente cadastrado com sucesso!</span>
              <button class="btn-modal-fechar btn-tema-sucesso botao-voltar" data-modal="modal-abrir">Voltar</button>
              
          </dialog>
        </div>

      </form>

    </main>

  </div>

  <script src="/public/js/modal.js"></script>
  <script src="/public/js/botao_voltar.js"></script>
  <script src="/public/js/cadastro_cliente.js"></script>
</body>
</html>