<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ponto Certo - Produtos</title>
  <link rel="stylesheet" href="../../../public/css/admin/navbar_master.css">
  <link rel="stylesheet" href="../../../public/css/admin/conteudo_master.css">
</head>

<body>
  <div class="layout-master">

    <aside class="sidebar-master">
      <div class="topo-navbar">
        <img src="../../../public/images/logo_ponto.svg" alt="logo" class="logo-sidebar">
        <img src="../../../public\images\linha_navbar.svg" alt="" class="linha-divisoria">
      </div>
      <nav class="menu">
        <ul>
          <li><a href="dashboard.html" class="link-sidebar">Dashboard</a></li>
          <li><a href="clientes.html" class="link-sidebar">Clientes</a></li>
          <li><a href="pedidos.html" class="link-sidebar">Pedidos</a></li>
          <li><a href="trocas.html" class="link-sidebar">Trocas</a></li>
        </ul>
      </nav>
    </aside>


    <main class="conteudo-master">


      <div class="cabecalho-conteudo">
        <h1 class="titulo-conteudo">CLIENTES</h1>

        <div class="barra-acoes">
          <div class="busca-master">
            <input type="search" placeholder="Pesquise pelo CPF, Nome, telefone ou E-mail" class="campo-busca-master">
            <button type="button" class="botao-busca-master">
              <img src="/public/images/pesquisar-master.svg" alt="Buscar">
            </button>
          </div>

          <button class="btn-filtro" id="abrirFiltro">
            <img src="../../../public/images/filtro.svg" alt="">
          </button>
          <div class="filtro" id="painelFiltro">
            <div class="filtro-header">
              <span class="titulo-filtro">Filtro</span>

              <button class="fechar-filtro" id="fecharFiltro">
                <img src="../../../public/images/remover-carrinho.svg" alt="">
              </button>
            </div>

            <div class="filtro-grupo">
              <h4 class="filtro_titulo">Gênero</h4>
              <label class="checkbox-opcoes">
                <input type="checkbox" name="genero" value="M">
                Feminino
              </label>
              <label class="checkbox-opcoes">
                <input type="checkbox" name="genero" value="H">
                Masculino
              </label>
              <label class="checkbox-opcoes">
                <input type="checkbox" name="genero" value="N">
                Prefiro não informar
              </label>
            </div>

            <div class="filtro-grupo">
              <h4 class="filtro_titulo">Data de nascimento</h4>
              <input type="date" name="data_nascimento" id="data_nascimento" placeholder="dd/mm/aaaa"
                class="nascimento">
            </div>
            <div class="filtro-acoes">
              <button class="btn-aplicar" id="aplicarFiltro">
                Aplicar filtro
              </button>

              <button class="btn-limpar" id="limparFiltro">
                Limpar filtro
              </button>
            </div>
          </div>
        </div>
      </div>

      <table class="tabela-master">
        <thead>
          <tr>
            <th>CPF</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Data de nascimento</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
      
        </tbody>
      </table>

    </main>

  </div>
  <div id="toast" class="toast"></div>
  <script src="/public/js/filtros.js"></script>
  <script src="/public/js/modal.js"></script>
</body>

</html>