<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ponto Certo</title>
    <link rel="stylesheet" href="../../../public/css/navbar/navbar.css">
    <link rel="stylesheet" href="/public/css/alterar_dados.css">
</head>

<body>

    <div class="main">
        <h3 class="titulo">Editar</h3>
        <div class="info-usuario">
            <span class="titulo-dados-pessoais">Dados Pessoais</span>
            <form>
                <div class="campos">
                    <div class="campo">
                        <label class="nome-campos">Nome completo</label>
                        <input class="placeholder" id="nome" placeholder="Insira o nome completo" required></input>
                        <span class="erro-msg" id="erro-nome"></span>
                    </div>

                    <div class="campo">
                        <label for="data-nascimento" class="nome-campos">Data de nascimento</label>
                        <input class="placeholder" type="date" id="data-nascimento" required>
                        <span class="erro-msg" id="erro-data-nascimento"></span>
                    </div>

                    <div class="campo">
                        <label class="nome-campos">Gênero</label>
                        <select class="placeholder" id="genero" required>
                            <option value="" disabled selected hidden>Escolha o seu gênero</option>
                            <option value="homem">Homem</option>
                            <option value="mulher">Mulher</option>
                            <option value="ninformar">Prefiro não informar</option>
                            <option value="outros">Outros</option>
                        </select>
                        <span class="erro-msg" id="erro-genero"></span>
                    </div>

                    <div class="campo">
                        <label class="nome-campos">Telefone</label>
                        <input class="placeholder" placeholder="(00) 00000-0000" id="telefone" inputmode="numeric"
                            pattern="[0-9]" maxlength="11" required></input>
                        <span class="erro-msg" id="erro-telefone"></span>
                    </div>


                </div>
            </form>

        </div>


        <div class="botoes">
            <button class="voltar botao-voltar" type="button">Voltar</button>
            <button class="cadastrar" type="button" data-modal="modal-abrir">Cadastrar</button>

        </div>
        <dialog id="modal-abrir" class="modal-abrir">
            <img class="icone-sucesso" src="../../../public/images/sucesso-modal.svg" alt="sucesso-modal">
            <h3>Sucesso</h3>
            <span>Dados alterados com sucesso!</span>
            <button class="btn-modal-fechar btn-tema-sucesso botao-voltar" data-modal="modal-abrir">Voltar</button>

        </dialog>
    </div>

    <script src="/public/js/alterar_dados.js"></script>
    <script src="../../../public/js/botao_voltar.js"></script>
</body>

</html>