<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ponto Certo - Produtos</title>
  <link rel="stylesheet" href="../../../public/css/admin/navbar_master.css">
  <link rel="stylesheet" href="../../../public/css/admin/conteudo_master.css">
</head>

<body>
  <div class="layout-master">

    <aside class="sidebar-master">
      <div class="topo-navbar">
        <img src="../../../public/images/logo_ponto.svg" alt="logo" class="logo-sidebar">
        <img src="../../../public/images/linha_navbar.svg" alt="" class="linha-divisoria">
      </div>
      <nav class="menu">
        <ul>
          <li><a href="dashboard.html" class="link-sidebar">Dashboard</a></li>
          <li><a href="produtos.html" class="link-sidebar ativo">Produtos</a></li>
          <li><a href="clientes.html" class="link-sidebar">Clientes</a></li>
          <li><a href="pedidos.html" class="link-sidebar">Pedidos</a></li>
          <li><a href="cupons.html" class="link-sidebar">Cupom</a></li>
          <li><a href="trocas.html" class="link-sidebar">Trocas</a></li>
        </ul>
      </nav>
    </aside>

  
    <main class="conteudo-master">

     
      <div class="cabecalho-conteudo">
        <h1 class="titulo-conteudo">PEDIDOS</h1>

        <div class="barra-acoes">
          <div class="busca-master">
            <input type="search" placeholder="Pesquise pelo Produto" class="campo-busca-master">
            <button type="button" class="botao-busca-master">
              <img src="/public/images/pesquisar-master.svg" alt="Buscar">
            </button>
          </div>
        </div>
      </div>

      <table class="tabela-master">
        <thead>
          <tr>
            <th>Data</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Total</th>
            <th>Status</th>
            <th>Status de Entrega</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>20/08/26</td>
            <td>Barbante Natural </td>
            <td>2 </td>
            <td>R$ 40,00 </td>
            <td>Pago</td>
            <td>Em aberto</td>
            <td class="acoes-tabela">
                <a href="detalhes_pedido.html" class="botao-detalhes"><img src="/public/images/detalhes-roxo.svg" alt=""></a>
              <button type="button" class="botao-editar">
                <img src="/public/images/editar-roxo.svg" alt="Editar">
              </button>
              <button type="button" class="botao-excluir">
                <img src="/public/images/lixo-roxo.svg" alt="Excluir">
              </button>
            </td>
          </tr>
          <tr>
            <td>20/08/26</td>
            <td>Barbante Natural </td>
            <td>2 </td>
            <td>R$ 40,00 </td>
            <td>Pago</td>
            <td>Em processamento</td>
            <td class="acoes-tabela">
                <a href="detalhes_pedido.html" class="botao-detalhes"><img src="/public/images/detalhes-roxo.svg" alt=""></a>
              <button type="button" class="botao-editar">
                <img src="/public/images/editar-roxo.svg" alt="Editar">
              </button>
              <button type="button" class="botao-excluir">
                <img src="/public/images/lixo-roxo.svg" alt="Excluir">
              </button>
            </td>
          </tr>
          <tr>
            <td>20/08/26</td>
            <td>Barbante Natural </td>
            <td>2 </td>
            <td>R$ 40,00 </td>
            <td>Pago</td>
            <td>Pagamento Realizado</td>
            <td class="acoes-tabela">
                <a href="detalhes_pedido.html" class="botao-detalhes"><img src="/public/images/detalhes-roxo.svg" alt=""></a>
              <button type="button" class="botao-editar">
                <img src="/public/images/editar-roxo.svg" alt="Editar">
              </button>
              <button type="button" class="botao-excluir">
                <img src="/public/images/lixo-roxo.svg" alt="Excluir">
              </button>
            </td>
          </tr>
          <tr>
            <td>20/08/26</td>
            <td>Barbante Natural </td>
            <td>2 </td>
            <td>R$ 40,00 </td>
            <td>Pago</td>
            <td>Em trânsito</td>
            <td class="acoes-tabela">
                <a href="detalhes_pedido.html" class="botao-detalhes"><img src="/public/images/detalhes-roxo.svg" alt=""></a>
              <button type="button" class="botao-editar">
                <img src="/public/images/editar-roxo.svg" alt="Editar">
              </button>
              <button type="button" class="botao-excluir">
                <img src="/public/images/lixo-roxo.svg" alt="Excluir">
              </button>
            </td>
          </tr>
          <tr>
            <td>20/08/26</td>
            <td>Barbante Natural </td>
            <td>2 </td>
            <td>R$ 40,00 </td>
            <td>Pago</td>
            <td>Entregue</td>
            <td class="acoes-tabela">
                <a href="detalhes_pedido.html" class="botao-detalhes"><img src="/public/images/detalhes-roxo.svg" alt=""></a>
              <button type="button" class="botao-editar">
                <img src="/public/images/editar-roxo.svg" alt="Editar">
              </button>
              <button type="button" class="botao-excluir">
                <img src="/public/images/lixo-roxo.svg" alt="Excluir">
              </button>
            </td>
          </tr>

    
          </tr>
        </tbody>
      </table>

    </main>

  </div>
</body>
</html>